doctype html
html
  head
    title= pagetitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    script(src="https://kit.fontawesome.com/e4339b56d6.js" crossorigin="anonymous")
    link(rel="stylesheet" href="../public/css/style.css")
  body
    header
      div#div-header 
        span(class= 'title-wraper')
          p(class= 'title-section') ABOUT 
        span(class= 'title-wraper')  
          p(class= 'title-section') EDUCATION
        span(class= 'title-wraper') 
          p(class= 'title-section') EXPERIENCES
        span(class= 'title-wraper')
          p(class= 'title-section') SKILLS
        span(class= 'title-wraper')
          p(class= 'title-section') INTERESTS
- var n=0
    block mainbody
     
    footer
      div#media
        a(class="linked-icons-about", href="https://github.com/ERAUDBERTHAUDHugo")
            i.fa.fa-github(class="icon-about", aria-hidden='true')
        a(class="linked-icons-about", href="https://www.linkedin.com/in/hugo-eraud-berthaud/")   
            i.fa.fa-linkedin.xl(class="icon-about", aria-hidden='true')
    script(src="../public/js/index.js")