doctype html
html
  head
    title= pagetitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="../public/js/test.js")
    script(src="https://kit.fontawesome.com/e4339b56d6.js" crossorigin="anonymous")
    link(rel="stylesheet" href="../public/css/style.css")
  body
    header
      div#div-header 
        span(class= 'title-wraper')
          p(class= 'title-section') ABOUT 
        span(class= 'title-wraper')  
          p(class= 'title-section') EDUCATION
        span(class= 'title-wraper') 
          p(class= 'title-section') EXPERIENCES
        span(class= 'title-wraper')
          p(class= 'title-section') SKILLS
        span(class= 'title-wraper')
          p(class= 'title-section') INTERESTS
- var n=0
    block mainbody
     
    footer
      p footer :)